/*screen breaks */
$screen-xs-min:                  480px !default;
$screen-sm-min:                  768px !default;
$screen-md-min:                  992px !default;
$screen-lg-min:                  1200px !default;

/*colors*/
$light-blue: #3f87b3;
$darker-blue: #26619c;

html, body, header, nav, h1, a, h3, h2,
ul, li, input, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  font-family: inherit;
  line-height: inherit;
  letter-spacing: inherit;

}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: 'Merriweather', sans-serif;
  font-size: 16px;
  font-size: 15px;
  background: #f1f1f1;
  background: #eee;
}

body, html {
    height: 100%;
}

* {
    box-sizing: border-box !important;
}

.group:after {
  display: block;
  content: "";
  clear: both;
}


.header-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
    min-height: 500px;
    height: auto;
    overflow: hidden;
    background: url('../images/icarus.jpg');
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    height: 100%;
}

.header-wrapper:after {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/download');
    opacity: 0.9;
    position: absolute;
    z-index: 4;
    border-bottom: 3px solid rgba(252, 252, 252, 0.3);
}

video, img.header-img {
    position: absolute;
    z-index: 4;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    transform: translateX(-50%);
}

.black-screen {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.header-info {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 5;
}

.js-info {
    cursor: pointer;
}

h3 {
    color: $light-blue;
}

.header-text {
    position: absolute;
    top: 20px;
    font-family: 'Roboto', arial, sans-serif;
}

.header-text.left {
    left: 25px;
    
    @media (max-width: 450px) {
        top: 35px;
    }
}
.header-text.right {
    right: 25px;
}

.personal-picture {
    margin: auto;
    // margin-top: 150px;
    margin-top: 170px;
}


h1 {
  font-size: 42px;
  font-weight: 700;
  color: #fff;
  -webkit-text-stroke: 1px #dcdcdc;
  display: block;
  line-height: 1;
  letter-spacing: 1.3;
}

main {
  margin: auto;
  display: block;
  width: 100%;
  padding: 15px;
  height: 100%;
  max-width: 1150px;
  margin: auto;
  padding-bottom: 25px;
  background: #eee;
  z-index: 10;
  position: relative;
  @media (min-width: $screen-sm-min) {
      padding-top: 25px;
  }
  
  @media (max-width: 450px) {
      height: auto;
      min-height: 100%;
  }
}

.sections-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content-section {
    width: 100%;
    padding: 15px 3px;
}

.content-section:nth-child(even) {
    @media (min-width: $screen-sm-min) {
        margin-right: 0;
    }
}

.content-header {
    font-size: 24px;
    padding-bottom: 10px;
}


.personal-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid #ccc;
  overflow: hidden;
  display: block;
}


.prof-pic {
  width: 200px;
  height: 225px;
}

.sign-off {
    float: right;
    display: block;
    color: $light-blue;
    font-size: 22px;
    font-style: italic;
}


.greeting {
  font-size: 17px;
  margin-bottom: 10px;
  display: block;
}

a {
    color: $light-blue;
    transition: color 0.2s ease-in-out;
    &:hover {
        color: $darker-blue;
    }
}

.end-link {
    color: #000;
    font-weight: 500;
    &:after {
        content: '|';
        color: #000;
        margin-left: 5px;
    }
    &:last-of-type:after {
        content: "";    
    }
}

.last-link {
  margin-right: 0px;
}

.sign-off {
    text-align: center;
    width: 100%;
}


.quote-section {
    width: 45%;
    // max-width: 800px;
    // margin-top: 50px;
    margin-top: 60px;
    margin-left: 15px;
    h3 {
        font-size: 20px;
        float: left;
        cursor: pointer;
    }
    
    @media (min-width: $screen-xs-min) {
        // width: 80%;
    }
    @media (min-width: $screen-sm-min) {
        // margin: auto;
        // transform: translateX(50%);
        // margin-left: -100px;        
    }
}

.quote-nav {
    width: 100%;
}

.errata {
    float: left;
}

.quote {
    width: 100%;
    max-width: 550px;
    margin: auto;
    // margin-top: 25px;
    margin-top: 10px;
    margin-left: 15px;
    float: left;
    padding-bottom: 35px;
    min-height: 225px;
}

.quote-author {
    float: right;
    margin-top: 30px;
}

.another {
    margin-right: 150px;
    float: right !important;
}

@media (min-width: 800px) {
    .content-section {
        width: 45%;
        margin: 0 15px;
    }
    
    .sign-off {
        float: right;
    }
    .header-wrapper {
        min-height: 450px;
        min-height: 550px;
        min-height: 500px;        
    }
}


@media (max-width: $screen-sm-min) {
    .header-text {
        float: left;
        padding-top: 20px;
        top: 0;
        left: 0 !important;
        right: 0;
        // font-size: 38px;
        position: relative;
        width: 100%;
        text-align: center;
        &.right {
            padding-top: 50px;
            // padding-top: 100px;
            
        }
    }
    
    .personal-picture {
        // margin-top: 125px;
        margin-top: 170px;
    }
    
    .sign-off {
        float: none !important;
        text-align: center;
    }
}
